@import "./system/_tokens.scss";
@import "./components/_tokens.scss";

// Super Saver Off theme overrides (example)
$comp-togel-bg-gradient: linear-gradient(90deg, #d6dde7 0%, #f0f0f0 100%);
$comp-togel-text-super: #3a4252;
$comp-togel-shadow-super: 2px 2px 0 #6b6b6b;
$comp-togel-off-bg: #d6dde7;
$comp-togel-off-text-super: #3a4252;
$comp-togel-off-shadow-super: 2px 2px 0 #6b6b6b;
