@import "../system/_tokens.scss";
@import "./_tokens.scss";

.icon-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: $sys-spacing-sm;
  font-family: $comp-iconbutton-font-family;
}
.icon-button-icon-wrapper {
  font-size: $comp-iconbutton-icon-size;
  color: $comp-iconbutton-icon-color;
  margin-bottom: $sys-spacing-sm;
  display: flex;
  align-items: center;
}
.icon-button-label {
  font-size: $comp-iconbutton-font-size;
  color: $comp-iconbutton-text-color;
  font-weight: $sys-font-weight-medium;
}
