@import "../system/_tokens.scss";

.top-nav {
  background: linear-gradient(to bottom, rgba(149, 14, 219, 0.2), #ffffff);
  padding: 16px 64px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-nav__left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.top-nav__left > * {
  margin-right: 24px;
}

.top-nav__left > *:last-child {
  margin-right: 16px;
}

.top-nav__search {
  flex-grow: 1;
  padding: 0 48px;
}

.top-nav__right {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  margin-left: 24px;
}

.top-nav__logo {
  height: 30px;
}

.top-nav .togel-button {
  transform: scale(0.65);
  transform-origin: left;
}

.top-nav .location-selector {
  margin-left: -80px;
  flex-shrink: 0;
}

.top-nav .searchbar-container {
  height: 14px;
}
